/** @format */

.menu a {
    text-decoration: none;
    color: #666;
}

.menu a:hover {
    color: #333;
}

.menu .sub-menu {
    display: none;
    padding-left: 20px;
}

.menu .sub-menu li {
    border-bottom: none;
}

.menu .has-sub:hover .sub-menu {
    display: block;
}

.menu .has-sub::after {
    content: " ▼";
}

.menu .has-sub:hover::after {
    content: " ▲";
}

.foodMenu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0;
}

.kidMenu {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
}
.foodMenu {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.foodMenu .foodMenuItem {
    margin: 2vw;
    padding: 0;
    position: relative;
    border-radius: 15px;
    width: calc(100vw / 3.5);
    min-width: 300px;
}

.foodMenu .foodMenuItem .foodMenuName {
    /* position: absolute; */
    text-align: center;
    transform: translate(0, -40px);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.foodMenu .foodMenuItem .foodMenuImg {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}
.foodMenu .foodMenuItem .foodMenuImg:hover {
    filter: blur(3px) grayscale(70%);
}

.foodMenu .foodMenuItem .foodMenuDescription {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    color: white;
    padding: 10% 0 0 0;
    transition: all 0.1s linear;
    color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.foodMenu .foodMenuItem .foodMenuDescription:hover {
    backdrop-filter: blur(3px) grayscale(70%);
    color: white;
    text-shadow: 1px 1px 1px black;
}
