.room-price-text{
    display: block;
    padding-left: 5px;
    color: #fbaf32;
    background: #ffffff;
    text-align: left;
}

.room-book-btn{
    color: #ffffff;
    background: #fbaf32;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 5px;
}

.room-book-btn:hover{
    color: #ffffff;
    background: #719a0a;
}