room-carousel-img{
    width: 100%;
    height: 100%;
}

.owl-carousel .room-item{
    height: 100%;
    width: 100%;
}

.room-carousel-img img{
    height: 200px;
}

.room-owl-carousel{
    height: auto;
    min-height: 100px;
}